<style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
        ._customer-card {
            width: 627px;
            height: 260px;
            background: #FFF9D1;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            position: relative;
        }
        ._customer-top {
            display: flex;
            justify-content: space-between;
        }
        ._customer-title {
            font-size: 16px;
            font-weight: 700;
            margin-top: 30px;
            margin-left: 20px;
        }
        ._customer-btn {
            width: 180px;
            height: 40px;
            background: #646870;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            color: #ffffff;
            font-weight: 700;
            border-radius: 3px;
            margin-right: 20px;
            margin-top: 20px;
            cursor: pointer;
        }
        ._customer-text {
            padding-right: 117px;
        }
        ._customer-img-1, ._customer-img-2, ._customer-img-3 {
            padding-left: 70px;
        }
        ._customer-img-1 {
            background: url("img/img-1.png") no-repeat;
            background-position: 30px 0;
        }
        ._customer-img-2 {
            background: url("img/img-2.png") no-repeat;
            background-position: 30px 0;
        }
        ._customer-img-3 {
            background: url("img/img-3.png") no-repeat;
            background-position: 30px 0;
        }
        ._customer-line-top {
            position: absolute;
            width: 627px;
            height: 10px;
            left: 0;
            top: 0;
            background: linear-gradient(180deg, #646870 0%, rgba(100, 104, 112, 0) 100%);
            border-radius: 0 0 5px 5px;
        }
        ._customer-line-bottom {
            position: absolute;
            width: 627px;
            height: 10px;
            left: 0;
            top: 250px;
            background: linear-gradient(180deg, rgba(100, 104, 112, 0) 0%, #646870 100%);
            border-radius: 5px 5px 0 0;
        }
    </style>
</head>
<body>
<div class="_customer-card">
    <div class="_customer-line-top"></div>
    <div class="_customer-top">
        <div class="_customer-title">Мы в числе лидеров в отрасли. Что это дает вам?</div>
        <div class="_customer-btn">+7 (343) 344 - 89 - 29</div>
    </div>
    <div class="_customer-text">
        <p class="_customer-img-1">Разветвленную сеть заполненных складов для моментальной отгрузки по всей России и СНГ.</p>
        <p class="_customer-img-2">Обработку металлопроката в собственных цехах на современном оборудовании.</p>
        <p class="_customer-img-3">58 единиц техники для доставки, плюс возможность самовывоза или доставки ТК.</p>
    </div>
    <div class="_customer-line-bottom"></div>
</div>